@charset "UTF-8";
*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body{font-family:sans-serif;text-transform:uppercase;font-size:16px;color:#fff;overflow: hidden;margin: 0;}
a{text-decoration:none;color:#fff}
#header{background:#1E262D;width:100%;position:relative}
#header:after{content:"";clear:both;display:block}
.search{float:right;padding:28px}
input{padding:10px;border-radius:20px}
.logo{float:left;padding:26px 0 26px;font-weight: bold;}
.logo a{font-size:28px;display:block;padding:0 0 0 20px}
nav{float:right;}
nav>ul{float:left;position:relative}
nav li{list-style:none;float:left}
nav li a{float:left;padding:35px}
nav li a:hover{background:#2C3E50}
nav li ul{display:none}
nav li:hover ul{display:inline}
nav li li{float:none}

nav li li a{float:none;color:#333;display:block;padding:8px 10px;border-radius:3px;font-size:13px}
nav li li a:hover{background:#bdc3c7;background:#FAFBFB}
.mega-col{width:25%;float:left}

@media only screen and (max-width: 1170px) {
  nav >ul>li >a{padding:35px 15px}
}
@media only screen and (min-width: 960px) {
  nav{display:block!important}
}
@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;}
  #menu-icon{display:inline;top:45px;cursor:pointer}
  #menu-icon.active .first{transform:rotate(45deg);-webkit-transform:rotate(45deg);margin-top:10px}
  #menu-icon.active .second{transform:rotate(135deg);-webkit-transform:rotate(135deg);position:relative;top:-9px;}
  #menu-icon.active .third{display:none}
  .search{float:none}
  .search input{width:100%}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#fff;padding:8px}
  #header nav a:hover{background:#fff;color:#333;border-radius:3px}
  #header nav ul li li a:before{content:"- "}
  .mega-col{width:100%}
}



 .login-box {
    position: relative;
	top: 85%;
    left: 77%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    width:200px;
    
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffee02;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: #ffee02;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 00px;
    margin-left:50px;
    letter-spacing: 4px
  }
  
  .login-box input:hover {
    background: #ffee02;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 100px white;
  }
   
  .login-box span {
    position: absolute;
    display: block;
  }


#grid{
display:flex;
grid-template-columns: 0.7fr 0.3fr;	
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: center;
font-size:20px;
width: 1260px;
height: 610px;
margin: 0 auto;

}

#video {
position: fixed;
top: 0px;
left: 0px;
width: 100vw;
height: 100vh;
z-index: -1;
overflow: hidden;
object-fit: cover;
}

.vv {
width: 230px;
}

.nn {
padding-bottom:5px;
}

#submit2 {
background:none;
color:white;
width:200px;

}

.mg1{
background-color:rgba( 0, 0, 0, 0.5 );
width: 700px;
height: 500px;
display: grid;
align-content: center;
justify-content: center;
border-radius:30px;
}

#iimg {
padding-top:-20px;
border-radius:30px;
}

.footer1 {
background-color:#1E262D;
bottom:0;
width:100%;
text-align:center;
font-size: 5px;
padding: 10px;
position:fixed;
color:white;
}

.tbtb{
position: absolute;
    height: 40px;
}

.test1{

	font-weight:600;
    font-size: 14px;
    text-align: center;
    line-height: 70px;
}
form{
width: 500px;
}
.tess {

background-color:rgba(0,0,0,0.3);
height:70px;
border-radius:30px;
width: 420px;
}

.hhh{
color:white;
font-size:10px;
top:-20px;
}
